$primaryColor: #2c3e56;
$brandFont: 'Kurale', serif;
body {
  background: $primaryColor;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: white;

  
  main {
    flex: 1 0 auto;
  }

  #brand {
    font-family: $brandFont;
    color: palevioletred
    
  }

  .page-footer {
    background: #2c3e56;
    padding-top: 0
  }

  h1 {
    margin: 3%  auto;
  }

  .list-group {
    margin-left: 1%;
    background: #576883;
  }

  .list-group:hover {
    background: #ebebeb
  }

   hr {
    width: 30%;
  }

}

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

form {
  margin: auto 30%;
}

.select-dropdown {
  margin-top: 0;
  margin-bottom: 0;
}

#acct {
  color: #2c3e56
}

.brand {
    font-family: $brandFont;
    color: palevioletred
  }

#top {
  margin-top: 30%
}

#slide-out {
  margin-bottom: 10
}


nav {
    background: #2c3e56;
    //margin-left: 2%
}

#signup {
  margin-left: 80%
}

#login {
  margin-left: 80%
}

.login {
  margin-bottom: 10%
}

h1 {
  margin: auto;
}

#signin {
  margin-top: 0
}

#side-nav {
  text-decoration: none;
}

.footer-copyright {
  padding-top: 0
}

.side-nav {
  padding-top: 10px;
  margin-top: 1%;
}

.side {
  z-index: 1;
  margin-top: 7vh;
  height: 90vh;
  position: relative;
}

#message-board {
  height:50vh;
  width: 75vw;
  border: 0px solid #576883;
  margin: auto 10%;
  overflow-y: scroll
}

#message {
  width: 40vw
}

#message-input {
  width: 40vw
}

.message-card {
  margin-top: 10px;
  border: 0px solid #fff7aa;
  width: 100%;
  border-radius: 3px;
  background-color: rgba(239, 239, 239, 0.96);
  color: black;
}
.card {
  max-height: 40px
}

#users{
  position: relative;
  left: 50%
}

form#message {
  margin: auto 25%
}

#forgot-password {
  color: whitesmoke;
  margin-bottom: 10%
}

#options {
  color: black;
}

.normal{
  border: 1px solid #2FFF6F;
  border-radius: 3px;
  background: #2FFF6F 
}

.urgent{
  border: 1px solid #8A693E;
  border-radius: 3px;
  background: #8A693E 
}

.critical{
  border: 1px solid red;
  border-radius: 3px;
  background: red 
}

#message-content {
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  padding-left: 6%

}

#sidenav-overlay {
  z-index: 0;
}

.username {
  color: palevioletred;
  padding-left: 6%
}
.priority {
  padding-left: 1%
}


th {
  color: paleturquoise
}

.not-found {
  background: url("http://res.cloudinary.com/mc-cloud/image/upload/v1508772780/404_Not_Found_Vector-01_w0vi9l.jpg");
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.group-form {
  color: black;
}
.dashboard {
  background: url("http://res.cloudinary.com/mc-cloud/image/upload/v1508775970/Untitled_1_qlduql.jpg");
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

button#side-nav.button-collapse {
  color: teal
}



    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }